# AWS
export S3_BUCKET=name
export AWS_ACCESS_KEY_ID=id
export AWS_SECRET_ACCESS_KEY=key

# Postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DBNAME=postgis

# Django
DEBUG=1
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# Scripts
PG_CONTAINER_NAME="ovitrap-db-1"
BACKUP_DIR="../database/backup"

